# SPDX-License-Identifier: (LGPL-2.1 OR BSD-2-Clause)

prefix=@PREFIX@
libdir=@LIBDIR@
includedir=${prefix}/include

Name: libxdp
Description: XDP library
Version: @VERSION@
Libs: -L${libdir} -lxdp
Requires.private: libbpf
Cflags: -I${includedir}
